{% extends 'base.html' %}

{% block content %}
<div class="login-box">
  <div class="card">
    <header class="card-header has-background-light">
      <p class="card-header-title">Add a flight</p>
    </header>
    <div class="card-content">
      <div class="content">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          {% if form.non_field_errors %}
          <p class="help is-danger">{{ form.non_field_errors }}</p>
          {% endif %}

          <div class="field">
            <label class="label" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            <div class="control">
              <input class="input" type="text" name="{{ form.name.html_name  }}" id="{{ form.name.id_for_label }}" placeholder="Name of this flight" value="{{ form.name.value|default_if_none:"" }}">
            </div>
            {% for error in form.name.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="field">
            <label class="label" for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
            <div class="control">
              <textarea class="textarea" name="{{ form.description.html_name  }}" id="{{ form.description.id_for_label }}" placeholder="Description">{{ form.description.value|default_if_none:"" }}</textarea>
            </div>
            {% for error in form.description.errors %}
            <p class="help is-danger">{{ error }}</p>
            {% endfor %}
          </div>

          <div class="file has-name">
            <label class="file-label">
              <input class="file-input" type="file" name="{{ form.data_file.html_name  }}" id="{{ form.data_file.id_for_label }}">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="mdi mdi-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
              </span>
            </label>
          </div>

          <div class="control has-text-right">
            <button class="button is-link" type="submit">
              <span class="icon mr-1">
                <i class="mdi mdi-plus"></i>
              </span>
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_js %}
<script>
const fileInput = document.querySelector('input[type=file]')
fileInput.onchange = () => {
  if (fileInput.files.length > 0) {
    const fileName = document.querySelector('.file-name')
    fileName.textContent = fileInput.files[0].name
  }
}


document.querySelector('button[type=submit]').addEventListener('click', function(event) {
  event.target.classList.add("is-loading")
});

</script>
{% endblock %}
