{% extends 'base.html' %}

{% load static %}

{% block og %}
<meta property="og:title" content="{{ object.name }}">
<meta property="og:author" content="{{ object.owner.username }}">
<meta property="og:type" content="website">
<!-- TODO change those hardcoded url!! -->
<meta property="og:url" content="https://travelbook.eskimon.fr{{ object.get_absolute_url }}">
<meta property="og:image" content="https://png.pimpyour.stream/i/flights/{{ object.pk }}.png">
{% if object.description %}
<meta property="og:description" content="{{ object.description }}">
{% endif %}
{% endblock %}

{% block content %}

<div class="flight-box">
  <div id="map"></div>

  <div class="card">
    <header class="card-header has-background-light">
      <p class="card-header-title is-clickable">{{ object.name }}</p>
    </header>
    <div class="card-content">
      <div class="content">
        {% if object.description %}
        <p class="subtitle is-6"><em>{{ object.description }}</em></p>
        {% endif %}

        <p class="airport from is-clickable mb-0"><strong>From:</strong> {{ object.departure.display_name }}</p>
        {% if object.arrival %}
        <p class="airport to is-clickable"><strong>To:</strong> {{ object.arrival.display_name }}</p>
        {% else %}
        <p class="airport mb-0"><strong>To:</strong> None</p>
        <p class="airport to is-clickable">(Intended: {{ object.intended.display_name }})</p>
        {% endif %}
        <p class="mb-0"><strong>Started at:</strong> {{ object.start }}</p>
        <p class="mb-0"><strong>Airborn at:</strong> {{ object.takeoff }}</p>
        <p><strong>Landing at:</strong> {{ object.landing }}</p>
        {% if object.aircraft %}
        <p><strong>Aircraft:</strong> {{ object.aircraft.name }} {% if object.aircraft_identifier %}({{ object.aircraft_identifier }}){% endif %}</p>
        {% endif %}
        {% if request.user == object.owner %}
        <p class="is-flex is-justify-content-space-between mt-5">
          <a class="button is-link" title="Add a picture to this flight" href="{% url 'pictures:create' %}?flight={{ flight.id }}"><i class="mdi mdi-image-plus"></i></a>
          <a class="button is-info" title="Edit this flight" href="{% url 'flights:update' object.pk %}"><i class="mdi mdi-square-edit-outline"></i></a>
          <button class="button is-danger modal-opener" data-target="delete-flight-modal"><i class="mdi mdi-delete"></i></button>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if request.user == object.owner %}
<div class="modal" id="delete-flight-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Are you sure?</p>
    </header>
    <section class="modal-card-body">
      Are you sure you want to delete this flight?
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-flex-end">
      <form method="post" action="{% url 'flights:delete' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="Yes, delete that!" class="button is-danger" >
      </form>
    </footer>
  </div>
</div>
{% endif %}

{% comment %} TODO: on click on departure/arrival <p> tag, center map on airport {% endcomment %}
{% include 'tipeee.part.html' %}
{% endblock %}

{% block footer_js %}
<script>
var map = L.map('map').setView([47.4771198,-0.5972396], 6);

let map_choice = {% if request.user.profile %}{{ request.user.profile.maps }}{% else %}0{% endif %}
if(map_choice == 1) {
  // Topo
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
  }).addTo(map);
} else if(map_choice == 2) {
  // Imagery
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
  }).addTo(map);
} else {
  // Standard
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
}




let dep = [{{ object.departure.lat }}, {{ object.departure.lon }}]
{% if object.arrival %}
let arr = [{{ object.arrival.lat }}, {{ object.arrival.lon }}]
{% elif object.intended %}
let arr = [{{ object.intended.lat }}, {{ object.intended.lon }}]
{% else %}
let arr = [0, 0]
{% endif %}
let pts = [
{% for wp in object.waypoints.all %}
  [{{ wp.lat }}, {{ wp.lon }}],
{% endfor %}
]

let polyline = drawFlight(dep, arr, pts, map, {% if request.user.profile %}{{ request.user.profile.icons }}{% else %}1{% endif %})

map.fitBounds(polyline.polyline.getBounds())

document.querySelector('header').addEventListener('click', function(event) {
  map.fitBounds(polyline.polyline.getBounds())
});

document.querySelector('.airport.from').addEventListener('click', function(event) {
  map.panTo(dep, {animate: true});
});

document.querySelector('.airport.to').addEventListener('click', function(event) {
  map.panTo(arr, {animate: true});
});


{% for picture in flight.pictures.all %}
{% if picture.is_public or request.user == picture.owner %}
drawPicture([{{ picture.lat }}, {{ picture.lon }}], "{{ picture.name }}", "{{ picture.description }}", "{{ picture.data_file.url }}", map, {{ request.user.icons }})
{% endif %}
{% endfor %}

</script>
{% endblock %}
