{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="detail-flight">
  <div id="map"></div>
  <div class="infos">
    <h1 class="title is-5">{{ object.name }}</h1>
    <h2 class="subtitle is-6"><em>{{ object.description }}</em></h2>
    <p class="airport from is-clickable"><strong>From:</strong> {{ object.departure.display_name }}</p>
    <p class="airport to is-clickable"><strong>To:</strong> {{ object.arrival.display_name }}</p>
    <p><strong>Started at:</strong> {{ object.start }}</p>
    <p><strong>Airborn at:</strong> {{ object.takeoff }}</p>
    <p><strong>Landing at:</strong> {{ object.landing }}</p>

    <p class="is-flex is-justify-content-space-between mt-5">
      <a class="button is-link" title="Add a picture to this flight" href="{% url 'pictures:create' %}?flight={{ flight.id }}"><i class="mdi mdi-image-plus"></i></a>
      <a class="button is-info" title="Edit this flight" href="{% url 'flights:update' object.pk %}"><i class="mdi mdi-square-edit-outline"></i></a>
      <button class="button is-danger" id="open-delete-modal"><i class="mdi mdi-delete"></i></button>
    </p>
  </div>
</div>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Are you sure?</p>
    </header>
    <section class="modal-card-body">
      Are you sure you want to delete this flight?
    </section>
    <footer class="modal-card-foot is-flex is-justify-content-flex-end">
      <form method="post" action="{% url 'flights:delete' object.pk %}">
        {% csrf_token %}
        <input type="submit" value="Yes, delete that!" class="button is-danger" >
      </form>
    </footer>
  </div>
</div>

{% comment %} TODO: on click on departure/arrival <p> tag, center map on airport {% endcomment %}

{% endblock %}

{% block footer_js %}
<script>

document.querySelector('button#open-delete-modal').addEventListener('click', function(event) {
  event.preventDefault();
  var modal = document.querySelector('.modal');  // assuming you have only 1
  var html = document.querySelector('html');
  modal.classList.add('is-active');
  html.classList.add('is-clipped');

  modal.querySelector('.modal-background').addEventListener('click', function(e) {
    e.preventDefault();
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
  });
});


var map = L.map('map').setView([47.4771198,-0.5972396], 6);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);




let dep = [{{ object.departure.lat }}, {{ object.departure.lon }}]
let arr = [{{ object.arrival.lat }}, {{ object.arrival.lon }}]
let pts = [
{% for wp in object.waypoints.all %}
  [{{ wp.lat }}, {{ wp.lon }}],
{% endfor %}
]

let polyline = drawFlight(dep, arr, pts, map)

map.fitBounds([dep, arr])


document.querySelector('.airport.from').addEventListener('click', function(event) {
  map.panTo(dep, {animate: true});
});
document.querySelector('.airport.to').addEventListener('click', function(event) {
  map.panTo(arr, {animate: true});
});

{% for picture in flight.pictures.all %}
drawPicture([{{ picture.lat }}, {{ picture.lon }}], "{{ picture.name }}", "{{ picture.description }}", "{{ picture.data_file.url }}", map)
{% endfor %}

</script>
{% endblock %}
