{% extends 'base.html' %}

{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'css/style-singlemap.css' %}">
{% endblock %}

{% block content %}

<div class="detail-flight">
  <div id="map"></div>
  <div class="infos">
    <h1 class="title is-5">{{ object.name }}</h1>
    <h2 class="subtitle is-6"><em>{{ object.description }}</em></h2>
    <p><strong>From:</strong> {{ object.departure.display_name }}</p>
    <p><strong>To:</strong> {{ object.arrival.display_name }}</p>
    <p><strong>Started at:</strong> {{ object.start }}</p>
    <p><strong>Airborn at:</strong> {{ object.takeoff }}</p>
    <p><strong>Landing at:</strong> {{ object.landing }}</p>
  </div>
</div>

{% comment %} TODO: on click on departure/arrival <p> tag, center map on airport {% endcomment %}

{% endblock %}

{% block footer_js %}
<script src="{% static 'js/bundle-singlemap.js' %}"></script>

<script>
var map = L.map('map').setView([51.505, -0.09], 13);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);


function drawFlight(departure, arrival, points) {
  //let poly = [[departure[0], departure[1]]];
  let poly = [];
  let lastLon = points[0][1];
  let wrap = false;
  for(let i=0; i < points.length; i++) {
    if((lastLon < 0 && points[i][1] > 0 && Math.abs(points[i][1] > 150)) ||
        (lastLon > 0 && points[i][1] < 0 && Math.abs(points[i][1] < -150))) {
      wrap = true
    }
    let point = L.latLng(points[i][0], points[i][1]);
    if(wrap) {
      point.lng += (point.lng < 0) ? 360 : -360
    }
    poly.push(point);
    lastLon = points[i][1];
  }
  // let lastpoint = L.latLng(arrival[0], arrival[1]);
  // if(wrap) {
    // lastpoint.lng += (lastpoint.lng < 0) ? 360 : -360
  // }
  // poly.push(lastpoint)
  L.polyline(poly).addTo(map);

  let startLoc = L.latLng(departure[0], departure[1])
  let stopLoc = L.latLng(arrival[0], arrival[1])
  if(wrap) {
    stopLoc.lng += (stopLoc.lng < 0) ? 360 : -360
  }
  L.marker(startLoc).addTo(map);
  L.marker(stopLoc).addTo(map);

  map.fitBounds([startLoc,stopLoc]);
}

let dep = [{{ object.departure.lat }}, {{ object.departure.lon }}]
let arr = [{{ object.arrival.lat }}, {{ object.arrival.lon }}]
let pts = [
{% for wp in object.waypoints.all %}
  [{{ wp.lat }}, {{ wp.lon }}],
{% endfor %}
]

drawFlight(dep, arr, pts)

</script>
{% endblock %}
