{% extends 'base.html' %}

{% block content %}
<div class="flights-list">
  {% for flight in object_list %}
    <a class="flight-box" href="{% url 'flights:detail' flight.pk %}" title="{{ flight.description }}">
      <div>
        <h2 class="title name">{{ flight.name }}</h2>
        <h3 class="subtitle description">{{ flight.description }}</h3>
        <div class="meta">{{ flight.departure.ICAO }} -> {{ flight.arrival.ICAO }}</div>
      </div>
    </a>
  {% endfor %}

  <a href="{% url 'flights:create' %}" title="Add a new flight">
    <div class="flight-box">
      + Add a flight
    </div>
  </a>
</div>
{% endblock %}
