{% extends 'base.html' %}

{% block content %}
<div class="has-text-centered mt-4">
  <a class="button is-link" href="{% url 'flights:create' %}" title="Add a new picture"><i class="mdi mdi-plus mr-2"></i> Add a flight</a>
</div>

<div class="fligths-list columns py-5 is-multiline has-text-centered is-justify-content-center">
  {% for flight in object_list %}
  <a class="card m-2 column is-one-quarter is-one-fifth-fullhd" href="{% url 'flights:detail' flight.pk %}">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{% if ALLOW_PREVIEW %} https://png.pimpyour.stream/i/flights/{{ flight.pk }}.png {% else %} https://via.placeholder.com/640x480 {% endif %}">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title is-4">{{ flight.name }}</p>
        <p class="subtitle is-6">{{ flight.description }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% include 'tipeee.part.html' %}
{% endblock %}
