{% extends 'base.html' %}

{% block content %}
<div class="has-text-centered mt-4">
  <a class="button is-link" href="{% url 'pictures:create' %}" title="Add a new picture"><i class="mdi mdi-plus mr-2"></i> Add a picture</a>
</div>

<div class="pictures-list columns py-5 is-multiline has-text-centered is-justify-content-center">
  {% for picture in object_list %}
  <a class="card m-2 column is-one-quarter is-one-fifth-fullhd" href="{% url 'pictures:detail' picture.pk %}">
    <div class="card-image">
      <figure class="image">
        <img src="{{ picture.data_file.url }}">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title is-4">{{ picture.name }}</p>
        <p class="subtitle is-6">{{ picture.description }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% if page_obj.has_previous or page_obj.has_next  %}
<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <ul class="pagination-list">
    {% for num in page_obj.paginator.page_range %}
    <li><a class="is-justify-content-center pagination-link {% if num == page_obj.number %}is-current{% endif %}" aria-label="Goto page {{ num }}" href="{% if num == page_obj.number %}#{% else %}?page={{ num }}{% endif %}">{{ num }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endif %}

{% include 'tipeee.part.html' %}

{% endblock %}
