{% extends 'base.html' %}

{% block content %}
<div class="pictures-list columns py-5 is-multiline">
  {% for picture in object_list %}
  <a class="card mx-2 column is-one-quarter is-one-fifth-fullhd" href="{% url 'pictures:detail' picture.pk %}">
    <div class="card-image">
      <figure class="image">
        <img src="{{ picture.data_file.url }}">
      </figure>
    </div>
    <div class="card-content">
      <div class="content">
        <p class="title is-4">{{ picture.name }}</p>
        <p class="subtitle is-6">{{ picture.description }}</p>
      </div>
    </div>
  </a>
  {% endfor %}

  <a class="card mx-2 column is-one-quarter is-one-fifth-fullhd adder" href="{% url 'pictures:create' %}" title="Add a new picture">
    <div class="card-content is-flex">
      + Add a picture
    </div>
  </a>
</div>
{% endblock %}
