.flights-list {
  padding: 20px;
  display: flex;

  .flight-box {
    width: 200px;
    height: 200px;
    display: block;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    color: black;
  }
}

ul.flight-list {
  .color-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px black;
  }

  .color-box.hide {
    opacity: 0.25;
  }
}
