.detail-flight {
  height: calc(100vh - 3.25rem - 4px);
  position: relative;

  #map {
    height: 100%;
    width: 100%;
  }

  .infos {
    position: absolute;
    width: 22%;
    height: 100%;
    left: auto;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1000;
    padding: 10px;
  }
}
