@charset "utf-8";
@import "~bulma/bulma";

// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
@import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/title.sass";
@import "../../node_modules/bulma/sass/form/_all.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";


.modal.is-active {
  z-index: 1000 !important;
}

.messages-wrapper {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: calc(3.25rem + 4px);
  z-index: 1200;
  flex-direction: column;

  .notification {
    width: auto;
    margin: auto;
    margin-top: 10px;
  }
}

.login-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    width: 500px;
  }
}

/* Pictures page */
.picture-box {
  position: relative;
  .card {
    width: 400px;
    position: absolute;
    top: calc(20px);
    left: auto;
    right: 20px;
    z-index: 1000;
  }
  #map {
    height: calc(100vh - 3.25rem - 4px);
    width: 100%;
  }
}

/* Lightbox */
.lb-source {
  cursor: pointer;
}

.lb-wrapper {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 1100;
  display: none;
  top: 0;
  left: 0;
  flex-direction: column;

  &.show {
    display: flex;
  }

  .lb-name, .lb-description {
    color: white;
    text-align: center;
    width: 100%;
  }
}


/* Tipeee ***********************/
img.tipeee {
  position: fixed;
  top: auto;
  bottom: 0px;
  left: 5px;
  width: 60px;
  height: 60px;
  z-index: 10000;
}
