{% extends 'base.html' %}

{% block content %}
<div class="detail-flight">
  <div id="map"></div>

  <div class="infos">
    <p class="mb-3">
      <label class="checkbox">
        <input type="checkbox" id="pictures-toggle" checked>
        Show/hide pictures
      </label>
    </p>
    <ul class="flight-list">
      {% for flight in flights.all %}
        <li class="is-clickable" data-flightid="{{ flight.id }}" title="{{ flight.description }} ({{ flight.departure.display_name }} - {{ flight.arrival.display_name }})">
          <span class="color-box" style="background-color: hsl({% widthratio forloop.counter0 1 color_step %}, 100%, 50%)"></span>
          <span class="flight-name">{{ flight.name }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% include 'tipeee.part.html' %}
{% endblock %}


{% block footer_js %}
<script>
var map = L.map('map').setView([47.4771198,-0.5972396], 6);

let map_choice = {{ request.user.profile.maps }}
if(map_choice == 1) {
  // Topo
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
  }).addTo(map);
} else if(map_choice == 2) {
  // Imagery
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
  }).addTo(map);
} else {
  // Standard
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
}

// Draw all the flights
let polys = {}
let pictures = {}
pictures["None"] = []

{% for flight in flights.all %}
polys["{{ flight.id }}"] = drawFlight(
  [{{ flight.departure.lat }}, {{ flight.departure.lon }}],
  {% if flight.arrival %}[{{ flight.arrival.lat }}, {{ flight.arrival.lon }}]{% elif flight.intended %}[{{ flight.intended.lat }}, {{ flight.intended.lon }}]{% else %}[0, 0]{% endif %},
  [{% for wp in flight.waypoints.all %}[{{ wp.lat }}, {{ wp.lon }}],{% endfor %}],
  map,
  {{ request.user.profile.icons }},
  "hsl({% widthratio forloop.counter0 1 color_step %}, 100%, 50%)"
)
pictures["{{ flight.id }}"] = []
{% endfor %}

// Event Listeners
document.querySelectorAll("ul.flight-list li .flight-name").forEach( el => {
  el.addEventListener("click", (event) => {
    map.fitBounds(polys[event.target.parentNode.dataset.flightid].polyline.getBounds())
  })
})

document.querySelectorAll("ul.flight-list li .color-box").forEach( el => {
  el.addEventListener("click", (event) => {
    if(event.target.classList.contains("hide")) {
      event.target.classList.remove("hide")
      polys[event.target.parentNode.dataset.flightid].polyline.addTo(map)
      if(polys[event.target.parentNode.dataset.flightid].dep_mark) {
        polys[event.target.parentNode.dataset.flightid].dep_mark.addTo(map)
        polys[event.target.parentNode.dataset.flightid].arr_mark.addTo(map)
      }
      if(pictures[event.target.parentNode.dataset.flightid].length) {
        pictures[event.target.parentNode.dataset.flightid].forEach((item) => {
          item.marker.addTo(map)
        })
      }
    } else {
      event.target.classList.add("hide")
      polys[event.target.parentNode.dataset.flightid].polyline.removeFrom(map)
      if(polys[event.target.parentNode.dataset.flightid].dep_mark) {
        polys[event.target.parentNode.dataset.flightid].dep_mark.removeFrom(map)
        polys[event.target.parentNode.dataset.flightid].arr_mark.removeFrom(map)
      }
      if(pictures[event.target.parentNode.dataset.flightid].length) {
        pictures[event.target.parentNode.dataset.flightid].forEach((item) => {
          item.marker.removeFrom(map)
        })
      }
    }
  })
})

// Draw pictures
let picture = undefined
{% for picture in pictures.all %}
picture = drawPicture([{{ picture.lat }}, {{ picture.lon }}], "{{ picture.name }}", "{{ picture.description }}", "{{ picture.data_file.url }}", map)
{% if picture.flight %}
pictures["{{ picture.flight.id }}"].push(picture)
{% else %}
pictures["None"].push(picture)
{% endif %}
{% endfor %}

document.getElementById("pictures-toggle").addEventListener('click', (event) => {
  if(event.target.checked) {
    for(let flight in pictures) {
      pictures[flight].forEach((item) => {
        item.marker.addTo(map)
      })
    }
  } else {
    for(let flight in pictures) {
      pictures[flight].forEach((item) => {
        item.marker.removeFrom(map)
      })
    }
  }
})

</script>
{% endblock %}
