{% extends 'base.html' %}

{% block content %}
<div class="detail-flight">
  <div id="map"></div>

  <div class="infos">
    <p class="mb-3">
      <label class="checkbox">
        <input type="checkbox" id="pictures-toggle" checked>
        Show/hide pictures
      </label>
    </p>
    <ul class="flight-list">
      {% for flight in flights.all %}
        <li id="flight-{{ flight.id }}" class="loading" data-flightid="{{ flight.id }}" title="{{ flight.description }} ({{ flight.departure.display_name }} - {% if flight.arrival %}{{ flight.arrival.display_name }}{% else %}{{ flight.intended.display_name }}{% endif %})">
          <span class="color-box" style="background-color: hsl({% widthratio forloop.counter0 1 color_step %}, 100%, 50%)"></span>
          <span class="flight-name">{{ flight.name }}</span>
        </li>
      {% endfor %}
    </ul>
    <div class="toggler is-flex">
      <button id="hide-flights" class="button">Hide all flights</button>
      <button id="show-flights" class="button">Show all flights</button>
    </div>
  </div>
</div>

{% include 'tipeee.part.html' %}
{% endblock %}


{% block footer_js %}
<script>
var map = L.map('map').setView([47.4771198,-0.5972396], 6);

let map_choice = {{ request.user.profile.maps }}
if(map_choice == 1) {
  // Topo
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Esri, DeLorme, NAVTEQ, TomTom, Intermap, iPC, USGS, FAO, NPS, NRCAN, GeoBase, Kadaster NL, Ordnance Survey, Esri Japan, METI, Esri China (Hong Kong), and the GIS User Community'
  }).addTo(map);
} else if(map_choice == 2) {
  // Imagery
  L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
    attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
  }).addTo(map);
} else {
  // Standard
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
  }).addTo(map);
}

// Draw all the flights
let polys = {}
let pictures = {}
pictures["None"] = []

let myHeaders = new Headers();
myHeaders.append("Accept", "application/json");

{% for flight in flights.all %}
  // Async load the flights
  fetch("{% url 'flights:detail' flight.pk %}", {headers: myHeaders})
    .then(response => response.json())
    .then(result => {
        polys["{{ flight.id }}"] = drawFlight(
          result.departure,
          result.arrival,
          result.waypoints,
          map,
          {{ request.user.profile.icons }},
          "hsl({% widthratio forloop.counter0 1 color_step %}, 100%, 50%)"
        )

        let flight = document.getElementById("flight-{{ flight.id }}")
        flight.classList.remove("loading")
        flight.classList.add("is-clickable")
    })
  pictures["{{ flight.id }}"] = []
{% endfor %}

// Event Listeners
document.querySelectorAll("ul.flight-list li .flight-name").forEach( el => {
  el.addEventListener("click", (event) => {
    map.fitBounds(polys[event.target.parentNode.dataset.flightid].polyline.getBounds())
  })
})


function showFlight(flightid, state) {
  if(state) {
    polys[flightid].polyline.addTo(map)
    if(polys[flightid].dep_mark) {
      polys[flightid].dep_mark.addTo(map)
      polys[flightid].arr_mark.addTo(map)
    }
    if(pictures[flightid].length) {
      pictures[flightid].forEach((item) => {
        item.marker.addTo(map)
      })
    }
  } else {
    polys[flightid].polyline.removeFrom(map)
    if(polys[flightid].dep_mark) {
      polys[flightid].dep_mark.removeFrom(map)
      polys[flightid].arr_mark.removeFrom(map)
    }
    if(pictures[flightid].length) {
      pictures[flightid].forEach((item) => {
        item.marker.removeFrom(map)
      })
    }
  }
}

document.querySelectorAll("ul.flight-list li .color-box").forEach( el => {
  el.addEventListener("click", (event) => {
    if(event.target.parentNode.classList.contains("loading"))
      return
    flightid = event.target.parentNode.dataset.flightid
    if(event.target.classList.contains("hide")) {
      event.target.classList.remove("hide")
      showFlight(flightid, true)
    } else {
      event.target.classList.add("hide")
      showFlight(flightid, false)
    }
  })
})

document.getElementById("hide-flights").addEventListener("click", (event) => {
  document.querySelectorAll("ul.flight-list li .color-box").forEach( el => {
    if(event.target.parentNode.classList.contains("loading"))
      return
    if(!el.classList.contains("hide" )) {
      flightid = el.parentNode.dataset.flightid
      el.classList.add("hide")
      showFlight(flightid, false)
    }
  })
})

document.getElementById("show-flights").addEventListener("click", (event) => {
  document.querySelectorAll("ul.flight-list li .color-box").forEach( el => {
    if(event.target.parentNode.classList.contains("loading"))
      return
    if(el.classList.contains("hide" )) {
      flightid = el.parentNode.dataset.flightid
      el.classList.remove("hide")
      showFlight(flightid, true)
    }
  })
})

// Draw pictures
let picture = undefined
{% for picture in pictures.all %}
picture = drawPicture([{{ picture.lat }}, {{ picture.lon }}], "{{ picture.name }}", "{{ picture.description }}", "{{ picture.data_file.url }}", map)
{% if picture.flight %}
pictures["{{ picture.flight.id }}"].push(picture)
{% else %}
pictures["None"].push(picture)
{% endif %}
{% endfor %}

document.getElementById("pictures-toggle").addEventListener('click', (event) => {
  if(event.target.checked) {
    for(let flight in pictures) {
      pictures[flight].forEach((item) => {
        item.marker.addTo(map)
      })
    }
  } else {
    for(let flight in pictures) {
      pictures[flight].forEach((item) => {
        item.marker.removeFrom(map)
      })
    }
  }
})

</script>
{% endblock %}
