{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="detail-flight">
  <div id="map"></div>

  <div class="infos">
    <ul class="flight-list">
      {% for flight in flights.all %}
        <li class="is-clickable" data-idx="{{ forloop.counter0 }}" title="{{ flight.description }} ({{ flight.departure.display_name }} - {{ flight.arrival.display_name }})">
          <span class="color-box" style="background-color: hsl({% widthratio forloop.counter0 1 color_step %}, 100%, 50%)"></span>
          <span class="flight-name">{{ flight.name }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}


{% block footer_js %}
<script>
var map = L.map('map').setView([47.4771198,-0.5972396], 6);

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);

// Draw all the flights
let polys = []
{% for flight in flights.all %}
polys.push(drawFlight(
  [{{ flight.departure.lat }}, {{ flight.departure.lon }}],
  [{{ flight.arrival.lat }}, {{ flight.arrival.lon }}],
  [{% for wp in flight.waypoints.all %}[{{ wp.lat }}, {{ wp.lon }}],{% endfor %}],
  map,
  "hsl({% widthratio forloop.counter0 1 color_step %}, 100%, 50%)"
))
{% endfor %}

// Event Listeners
document.querySelectorAll("ul.flight-list li .flight-name").forEach( el => {
  el.addEventListener("click", (event) => {
    map.fitBounds(polys[event.target.parentNode.dataset.idx].polyline.getBounds())
  })
})

document.querySelectorAll("ul.flight-list li .color-box").forEach( el => {
  el.addEventListener("click", (event) => {
    if(event.target.classList.contains("hide")) {
      event.target.classList.remove("hide")
      polys[event.target.parentNode.dataset.idx].polyline.addTo(map)
      polys[event.target.parentNode.dataset.idx].dep_mark.addTo(map)
      polys[event.target.parentNode.dataset.idx].arr_mark.addTo(map)
    } else {
      event.target.classList.add("hide")
      polys[event.target.parentNode.dataset.idx].polyline.removeFrom(map)
      polys[event.target.parentNode.dataset.idx].dep_mark.removeFrom(map)
      polys[event.target.parentNode.dataset.idx].arr_mark.removeFrom(map)
    }
  })
})

// Draw pictures
{% for picture in pictures.all %}
drawPicture([{{ picture.lat }}, {{ picture.lon }}], "{{ picture.name }}", "{{ picture.description }}", "{{ picture.data_file.url }}", map)
{% endfor %}

</script>
{% endblock %}
