{% load static %}

<img class="tipeee is-clickable modal-opener" data-target="tipeee-modal" src="{% static 'img/tipeee.png' %}">

<div class="modal" id="tipeee-modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Hi there!</p>
    </header>
    <section class="modal-card-body">
      <p class="mb-2">I'm Eskimon, a freelancer software engineer based in France.</p>
      <p class="mb-2">As I am passionnate by my job, when I am not working for a client I like to take on some fun ideas and challenges.</p>
      <p class="mb-2">Maybe some day I'll be able to do it full time, untill then I still need to pay bills and keep the server running to host your flights and pictures.</p>
      <p class="mb-2">So if you find this tool useful and want to help, you can sponsor me <a target="_blank" href="https://tipeee.com/eskimon" alt="My Tipeee">on Tipeeee</a></p>
      <p class="mb-2"></p>
      <p class="mb-2">Thanks for reading and have fun with this little tool!</p>
      <p class="mb-5"></p>
      <p class="mb-2 is-size-7">(And if you want to help, the code is here: <a href="https://github.com/Eskimon/fs-travelbook">github.com/Eskimon/fs-travelbook</a>)</p>
    </section>
  </div>
</div>
